:root {
  --black: #001c28;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--black);
}

#map {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  border: 2px solid #ccc;
  z-index: 1;
}

#modal {
  pointer-events: none;
  opacity: 0;
  inset: 0;
  padding: clamp(1rem, 10%, 100px);
  position: fixed;
  z-index: 100;
  background-color: #00000076;
  color: var(--black);
  display: flex;
  justify-content: center;

  &.open {
    pointer-events: all;
    opacity: 1;
  }

  > div {
    padding: clamp(1rem, 3%, 2rem);
    border-radius: 1rem;
    position: relative;
    transition: 0.3s;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .img-wrapper {
      margin: auto;
      height: calc(100% - 4rem);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #image {
      /* object-fit: contain;
      border-radius: 1rem;
      max-width: 100%;
      max-height: calc(100% - 4rem);
      margin: auto; */

      object-fit: cover;
      border-radius: 1rem;
      width: 100vw;
      max-height: 100%;
      margin: auto;
      max-width: 100%;
      min-height: 100%;
    }

    #close {
      width: 1.5rem;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
      border-radius: 100%;
      transition: 0.4s;
      padding: 0.3rem;
      &:hover {
        background-color: #33333329;
      }
    }
  }

  #title {
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
    margin: 0 clamp(1rem, 10%, 2rem);
  }
}

#header-bg {
  background-image: url("./static/header-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Use background-size to cover the element */
  height: 100vh;
  width: 100vw;
  filter: blur(var(--scroll-blur, 0));
  transition: 0.1s;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  transform: translate3d(0, 0, 0);
}

#title-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;

  h1 {
    top: 37%;
    height: fit-content;
    position: sticky;
    display: block;
    margin: clamp(2rem, 20%, 100px) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5rem;
    color: white;
    text-transform: uppercase;
    transition: color 0.1s ease-in-out;
  }
}

.change-color {
  color: hwb(185 var(--scroll-color, 100) 0%);
}

h1 {
  font-size: 7rem;
}

h2 {
  text-transform: uppercase;
  font-size: 6rem;
}

#about {
  max-width: 700px;
  margin: 4rem 0 4rem 0;
  padding: 0 clamp(1rem, 10%, 100px);
  span {
    opacity: 70%;
  }
}

#map-title {
  padding: 0 clamp(1rem, 10%, 100px);
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;

  border: 1px solid #001c28;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

a {
  text-decoration: none;
}

#buttons {
  margin-top: 56px;
  display: flex;
  column-gap: 3rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 1040px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  #title {
    font-size: 1.5rem;
  }
}

@media (max-width: 460px) {
  #map-title > span {
    font-size: 1.5rem;
    display: block;
  }
}

footer {
  margin: 1rem clamp(1rem, 10%, 100px);
  font-size: 12px;
  color: gray;
}

button {
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.082);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.388);
  }
}
